/.DS_Store
/987_june_receipt.pdf
/987_may_receipt.pdf
/AppDirect.pdf
/CAE.pdf
/Continent 8.pdf
/Coveo.pdf
/Diff.pdf
/Ericsson-f2021.pdf
/EventDesk.pdf
/Flinks.pdf
/Hivestack.pdf
/Internal-resume-v3.pdf
/Ken N - Offer Letter.docx.pdf
/KenNguyen_resume.pdf
/KenNguyen_transcript.pdf
/Lockheed.pdf
/Phyla.pdf
/RCMP.pdf
/TD-external.pdf
/background.jpeg
/concordia_logo.png
/diabsolut.pdf
/equisoft.pdf
/ibwave.pdf
/manulife.pdf
/prat and whitney.pdf
/vuwall.pdf